# Tugas 1

## Data Integration

#### Data berasal dari BPS (Badan Pusat Satistik) yaitu data tentang produksi barang tambang mineral di Indonesia dari tahun 1996-2015.

In [2]:
import pandas as pd 
import numpy as np

In [3]:
Hasil1 = pd.read_csv("Produksi1.csv", sep=";")
Hasil2 = pd.read_csv("Produksi2.csv", sep=";")
Hasil3 = pd.read_csv("Produksi3.csv", sep=";")

In [4]:
Hasil_completed = pd.merge(Hasil1, Hasil2, on='Tahun')
Hasil_completed2 = pd.merge(Hasil_completed, Hasil3, on='Tahun')
Hasil_completed2

,Tahun,Batu Bara,Bauksit,Nikel,Emas,Perak,Granit,Pasir Besi,Konsentrat Tin,Konsentrat Tembaga
0,1996,50332047,841976,3426867,83564,255404,4827058,425101,52304,1758910
1,1997,55982040,808749,2829936,86928,249392,8824088,516403,54521,1817880
2,1998,58504660,1055647,2736640,123862,383191,9662649,509978,53960,2640040
3,1999,62108239,1116323,2798449,127768,361377,8720155,502198,49708,2645180
4,2000,67105675,1150776,2434585,109612,310430,5941370,420418,56360,3270335
5,2001,71072961,1237006,2473825,148528,333561,3976274,440648,69494,2418110
6,2002,105539301,1283485,2120582,140246,281903,3975434,190946,88142,2851190
7,2003,113525813,1262705,2499728,138475,272050,3938915,245911,74316,3238306
8,2004,128479707,1331519,2105957,86855,255053,4035040,79635,73080,2812664
9,2005,149665233,1441899,3790896,142894,326993,4302849,87940,78404,3553808
10,2006,162294657,2117630,3869883,138992,270624,4514654,84954,79100,817796
11,2007,188663068,1251147,7112870,117854,268967,1793440,84371,64127,796899
12,2008,178930188,1152322,6571764,64390,226051,2050000,4455259,79210,655046
13,2009,228806887,935211,5819565,140488,359451,0,4561059,56602,973347
14,2010,325325793,2200000,9475362,119726,335040,2172080,8975507,97796,993152
15,2011,415765068,0,41193335,68220,227173,3316813,11814544,89600,1472238
16,2012,466307241,24714940,47106534,69291,0,0,11545752,44202,2265865
17,2013,458462513,0,65047388,59804,0,0,22353337,59412,1909548
18,2014,435742874,0,39034912,69349,0,0,5951400,51801,1571596
19,2015,405871432,2539274,34063566,92339,0,0,3838546,93180,2282831

In [7]:
Hasil4 = pd.read_csv("Produksi4.csv", sep=";")
Hasil5 = pd.read_csv("Produksi5.csv", sep=";")

Hasil_completed3 = pd.concat([Hasil4, Hasil5])
Hasil_completed3

,Tahun,Batu Bara,Bauksit,Nikel,Emas,Perak,Granit,Pasir Besi,Konsentrat Tin,Konsentrat Tembaga
0,1996,50332047,841976,3426867,83564,255404,4827058,425101,52304,1758910
1,1997,55982040,808749,2829936,86928,249392,8824088,516403,54521,1817880
2,1998,58504660,1055647,2736640,123862,383191,9662649,509978,53960,2640040
3,1999,62108239,1116323,2798449,127768,361377,8720155,502198,49708,2645180
4,2000,67105675,1150776,2434585,109612,310430,5941370,420418,56360,3270335
5,2001,71072961,1237006,2473825,148528,333561,3976274,440648,69494,2418110
6,2002,105539301,1283485,2120582,140246,281903,3975434,190946,88142,2851190
7,2003,113525813,1262705,2499728,138475,272050,3938915,245911,74316,3238306
8,2004,128479707,1331519,2105957,86855,255053,4035040,79635,73080,2812664
9,2005,149665233,1441899,3790896,142894,326993,4302849,87940,78404,3553808
0,2006,162294657,2117630,3869883,138992,270624,4514654,84954,79100,817796
1,2007,188663068,1251147,7112870,117854,268967,1793440,84371,64127,796899
2,2008,178930188,1152322,6571764,64390,226051,2050000,4455259,79210,655046
3,2009,228806887,935211,5819565,140488,359451,0,4561059,56602,973347
4,2010,325325793,2200000,9475362,119726,335040,2172080,8975507,97796,993152
5,2011,415765068,0,41193335,68220,227173,3316813,11814544,89600,1472238
6,2012,466307241,24714940,47106534,69291,0,0,11545752,44202,2265865
7,2013,458462513,0,65047388,59804,0,0,22353337,59412,1909548
8,2014,435742874,0,39034912,69349,0,0,5951400,51801,1571596
9,2015,405871432,2539274,34063566,92339,0,0,3838546,93180,2282831